<h4 class="pb-3 text-uppercase">{{ langService.translate("categories.form.title") }}</h4>

<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="d-flex flex-column mb-3 text-start">      
        <div class="col pb-2" *ngIf="showId">
            <label class="form-label">{{ langService.translate("categories.model._id") }}</label>
            <input class="form-control" type="text" formControlName="_id" readonly>
        </div>
        <div class="col pb-2" *ngIf="showId">
            <label class="form-label">{{ langService.translate("categories.model.categoryId") }}</label>
            <input class="form-control" type="text" formControlName="categoryId" readonly>
        </div>
        <div class="col pb-2">
            <label class="form-label">{{ langService.translate("categories.model.name") }}</label>
            <input class="form-control" type="text" formControlName="name">
            <small class="text-danger" *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched">
                {{ langService.translate("categories.form.errors.nameError") }}
            </small>
        </div>
        <div class="col pb-2">
            <label class="form-label">{{ langService.translate("categories.model.description") }}</label>
            <input class="form-control" type="text" formControlName="description">
            <small class="text-danger" *ngIf="categoryForm.get('description')?.invalid && categoryForm.get('description')?.touched">
                {{ langService.translate("categories.form.errors.descriptionError") }}
            </small>
        </div>
        <div class="col pb-2">
            <label class="form-label">{{ langService.translate("categories.model.language") }}</label>
            <select class="form-control" formControlName="language">
                <option value="" disabled selected>{{ langService.translate("categories.form.languageMessage") }}</option>
                <option *ngFor="let lang of objectKeys(languages)" [value]="lang">
                    {{ languages[lang] }}
                </option>
            </select>
            <small class="text-danger" *ngIf="categoryForm.get('language')?.invalid && categoryForm.get('language')?.touched">
                {{ langService.translate("categories.form.errors.languageError") }}
            </small>
        </div>
    </div>
    <button mat-flat-button color="primary" type="submit" [disabled]="categoryForm.invalid"><mat-icon>save</mat-icon>{{ langService.translate("categories.form.save") }}</button>
</form>