<mat-toolbar *ngIf="!isLoginRoute" color="primary" class="mat-elevation-z8 d-flex justify-content-between">
  <div class="d-flex flex-row align-items-center gap-3">
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="text-uppercase">{{ langService.translate("app.routing.backoffice") }} <span *ngIf="isDemo()">{{ langService.translate("app.routing.demo") }}</span></span> 
  </div> 
  <app-language-selector></app-language-selector>
</mat-toolbar>

<mat-drawer-container *ngIf="!isLoginRoute" autosize>
  <mat-drawer #drawer mode="side" position="start">
    <div class="d-block flex-grow-1">      
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="text-uppercase">
              {{ langService.translate("app.routing.categories") }}
            </mat-panel-title>            
            <mat-divider></mat-divider>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <mat-nav-list>
            <mat-list-item routerLink="/categories">
              <span class="d-inline-flex gap-2"><mat-icon>folder</mat-icon>{{ langService.translate("app.routing.viewAllCategories") }}</span>          
            </mat-list-item>
            <mat-list-item routerLink="/new-category">
              <span class="d-inline-flex gap-2"><mat-icon>create_new_folder</mat-icon>{{ langService.translate("app.routing.newCategory") }}</span>
            </mat-list-item>  
          </mat-nav-list>    
        </mat-expansion-panel>        
        <mat-divider></mat-divider>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="text-uppercase">
              {{ langService.translate("app.routing.questions") }}
            </mat-panel-title>            
            <mat-divider></mat-divider>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <mat-nav-list>
            <mat-list-item routerLink="/questions">
              <span class="d-inline-flex gap-2"><mat-icon>collections</mat-icon>{{ langService.translate("app.routing.viewAllQuestions") }}</span>
            </mat-list-item>
            <mat-list-item routerLink="/new-question">
              <span class="d-inline-flex gap-2"><mat-icon>add_to_photos</mat-icon>{{ langService.translate("app.routing.newQuestion") }}</span>
            </mat-list-item>
          </mat-nav-list>    
        </mat-expansion-panel>
      </mat-accordion>      
    </div>              
    <mat-divider></mat-divider>
    <mat-nav-list>            
      <mat-list-item routerLink="/login" (click)="logout()">
        <span class="d-inline-flex gap-2 text-uppercase"><mat-icon class="mr-2">exit_to_app</mat-icon>{{ langService.translate("app.routing.logout") }}</span>        
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<router-outlet *ngIf="isLoginRoute"></router-outlet>