<h4 class="pb-3 text-uppercase">{{ langService.translate("questions.list.title") }}</h4>

<div class="pb-3"> 
    <div class="form-group">
    <input 
        matInput
        type="text" 
        class="form-control" 
        (keyup)="searchQuestions($event)" 
        [placeholder]="langService.translate('questions.list.searchQuestions')">
    </div>
</div>

<div>    
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <table *ngIf="!isLoading && filteredQuestions.length > 0" class="table table-striped">
        <thead>
            <tr>
                <th>{{ langService.translate("questions.model._id") }}</th>
                <th>{{ langService.translate("questions.model.questionId") }}</th>
                <th>{{ langService.translate("questions.model.questionText") }}</th>
                <th>{{ langService.translate("questions.model.options") }}</th>
                <th>{{ langService.translate("questions.model.correctAnswer") }}</th>
                <th>{{ langService.translate("questions.model.explanation") }}</th>
                <th>{{ langService.translate("questions.model.categoryId") }}</th>
                <th>{{ langService.translate("questions.list.language") }}</th>
                <th>{{ langService.translate("questions.model.imageUrl") }}</th>                
                <th>{{ langService.translate("questions.model.createdAt") }}</th>
                <th>{{ langService.translate("questions.model.updatedAt") }}</th>
                <th width="150px"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let question of filteredQuestions">
                <td>{{ question._id }}</td>
                <td>{{ question.questionId }}</td>
                <td>{{ question.questionText }}</td>
                <td>
                    <ng-container *ngFor="let option of question.options; let last = last">
                        <span [ngClass]="{'text-success': option === question.correctAnswer}">{{ option }}</span><span *ngIf="!last">, </span>
                    </ng-container>
                <td>{{ question.correctAnswer }}</td>
                <td>{{ question.explanation }}</td>
                <td *ngIf="getCategory(question.categoryId)?.name; else errorCategoryDelete">
                    {{ getCategory(question.categoryId)?.name }}
                </td>
                <ng-template #errorCategoryDelete>
                    <td class="text-danger">{{ this.langService.translate("questions.list.errors.categoryDeleted") }}</td>
                </ng-template>
                <td *ngIf="getCategory(question.categoryId)?.language; else errorLanguageDelete">
                        {{ getLanguage(getCategory(question.categoryId)?.language || '') }}
                </td>
                <ng-template #errorLanguageDelete>
                    <td class="text-danger">{{ this.langService.translate("questions.list.errors.languageNotFound") }}</td>
                </ng-template>                       
                <td>{{ question.createdAt | date:'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ question.updatedAt | date:'dd/MM/yyyy HH:mm' }}</td>         
                <td>
                    <a [href]="question.imageUrl" target="_blank">{{ langService.translate("questions.list.website") }}</a>
                </td>
                <td>
                    <button class="btn btn-sm btn-secondary mx-1" [routerLink]="['/edit-question', question._id]"><mat-icon>edit</mat-icon></button>
                    <button class="btn btn-sm btn-danger mx-1" (click)="deleteQuestion(question._id)"><mat-icon>delete</mat-icon></button>                   
                </td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="!isLoading && filteredQuestions.length === 0">
        {{ langService.translate("questions.list.noQuestionAvailable") }}
    </p>
</div>