<h4 class="pb-3 text-uppercase">{{ langService.translate("questions.list.title") }}</h4>

<div class="pb-3"> 
    <div class="form-group">
    <input 
        matInput
        type="text" 
        class="form-control" 
        (keyup)="searchQuestions($event)" 
        [placeholder]="langService.translate('questions.list.searchQuestions')">
    </div>
</div>

<div>    
    <table *ngIf="filteredQuestions.length; else noQuestion" class="table table-striped">
        <thead>
            <tr>
                <th>{{ langService.translate("questions.list.questionId") }}</th>
                <th>{{ langService.translate("questions.list.questionText") }}</th>
                <th>{{ langService.translate("questions.list.options") }}</th>
                <th>{{ langService.translate("questions.list.correctAnswer") }}</th>
                <th>{{ langService.translate("questions.list.explanation") }}</th>
                <th>{{ langService.translate("questions.list.category") }}</th>
                <th>{{ langService.translate("questions.list.language") }}</th>
                <th>{{ langService.translate("questions.list.imageUrl") }}</th>
                <th width="150px"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let question of filteredQuestions">
                <td>{{ question.questionId }}</td>
                <td>{{ question.questionText }}</td>
                <td>
                    <ng-container *ngFor="let option of question.options; let last = last">
                        <span [ngClass]="{'text-success': option === question.correctAnswer}">{{ option }}</span><span *ngIf="!last">, </span>
                    </ng-container>
                <td>{{ question.correctAnswer }}</td>
                <td>{{ question.explanation }}</td>
                <td *ngIf="getCategory(question.categoryId)?.name; else errorCategoryDelete">
                    {{ getCategory(question.categoryId)?.name }}
                </td>
                <ng-template #errorCategoryDelete>
                    <td class="text-danger">{{ this.langService.translate("app.errors.categoryDeleted") }}</td>
                </ng-template>
                <td *ngIf="getCategory(question.categoryId)?.language; else errorLanguageDelete">
                        {{ getLanguage(getCategory(question.categoryId)?.language || '') }}
                </td>
                <ng-template #errorLanguageDelete>
                    <td class="text-danger">{{ this.langService.translate("app.errors.languageNotFound") }}</td>
                </ng-template>                
                <td><a [href]="question.imageUrl" target="_blank">{{ langService.translate("questions.list.website") }}</a></td>
                <td>
                    <button class="btn btn-sm btn-secondary mx-1" [routerLink]="['/edit-question', question.questionId]"><mat-icon>edit</mat-icon></button>
                    <button class="btn btn-sm btn-danger mx-1" (click)="deleteQuestion(question.questionId)"><mat-icon>delete</mat-icon></button>                   
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #noQuestion>
        <p>{{ langService.translate("questions.list.noQuestionAvailable") }}</p>
    </ng-template>
</div>